.App {
  display: flex;
  width: 100%;
  height: 100%;
}

.side {
  width: 40%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.control {
  background: rgb(250, 217, 223);
  padding: 20px;
  display: flex;
}

.chart {
  background: rgb(213, 255, 246);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  display: flex;
  background: rgb(206, 217, 252);
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.goal,
.year {
  width: 50%;
  margin: 10px;
}

.side select {
  width: 100%;
}
